<div style="display: flex; flex-direction: column; gap: 1rem;">
    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
        <div class="date-user">
            <div style="margin-top: 0.8rem;">
                <label for="entryDate" class="form-label">Date:</label>
                <input id="entryDate" formControlName="entryDate" type="string" class="text-input" />
            </div>
            <div>
                <label for="user" class="form-label">User:</label>
                <mat-form-field>
                    <mat-select formControlName="user" placeholder="Select a User">
                        @for (user of users; track user) {
                        <mat-option [value]="user">{{user.strFirstName}} {{user.strLastName}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div style="font-size: x-small; margin-bottom: 5px;">Entries can contain: <b>Book Name + Pages Read</b> and/or <b>Walk Description + Miles Walked</b></div>
        <div style="flex-wrap: wrap;">
            <div class="book" style="display: block;">
                <div style="margin-bottom: 0.5rem; margin-top:1rem;">
                    <label for="book" class="form-label">Book:</label>
                    <mat-form-field>
                        <mat-select (selectionChange)="onSelectBook($event)" formControlName="book" placeholder="Select a Book">
                            <mat-option [value]="null"><i>Select a Book</i></mat-option>
                            @for (book of books; track book) {
                            <mat-option [value]="book">{{book.strTitle}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="this.bookSelected">
                    <p style="text-align: center;">Current Page: {{this.bookSelected.iCurrentPage}}/{{this.bookSelected.iTotalPages}}</p>
                </div>
            </div>
            <div class="walk" style="display: inline-block;margin-left: 10px;margin-bottom: 1rem;">
                <div style="margin-bottom: 0.5rem; padding-top:0px;">
                    <br>
                    <mat-label for="walk" class="form-label">Walk Description:</mat-label>
                    <textarea matInput id="walk" formControlName="walk" type="text" class="walk-input"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div class="pages-miles" style="display: block; margin-top: 7rem;margin-left: 10px;margin-bottom: 1rem;">
            <div style="float: inline-start;" *ngIf="this.bookSelected">
                <label for="pages" class="form-label">Pages Read:</label>
                <input id="pages" formControlName="pages" type="number" class="num-input" />
            </div>
            <div style="float: inline-start; padding-left: 100px;" *ngIf="entryForm.get('walk')?.value">
                <label for="miles" class="form-label">Miles Walked:</label>
                <input id="miles" formControlName="miles" type="number" class="num-input" />
            </div>
        </div>
    </form>
</div>
<div>
    <div style="width:50%;text-align: right;margin-left:2rem; margin-top:1.3rem;">
        <button type="submit" [disabled]="this.isFormValid() === false" mat-raised-button color="primary"
           (click)="onSubmit()" style="font-size: medium;">Submit</button>
    </div>
</div>
