.date-user {
    display: flex;
    gap: 15px;
    margin-bottom: 0.5rem;
    justify-content: center;
}
.form-label {
    margin-right: 10px;
    font-size: large;
}

.text-input {
    font-size: large;
    color: black;
    max-width: 9rem;
}

.walk-input {
    font-size: large;
    color: black;
    max-width: 9rem;
    height: 50px;
    vertical-align: top;
    background-color: #F6F6F6;
}
.num-input {
    font-size: large;
    color: black;
    max-width: 3rem;
    background-color: #F6F6F6;
    border-width: 0.1px;
}
.book {
    display: block;
    float: inline-start;
    max-width: 50%;
    text-align: left;
}
.walk {
    display: block;
    float: inline-start;
    max-width: 50%;
    text-align: left;
}
.pages-miles {
    display: block;
    width: 100%;
    text-align: left;
    justify-content: center;
    padding-left: 30px;
}