<div class="month-view-container">
    <div class="day" *ngFor="let day of days">
        <div (click)="selectDate(day.date)">
            <div *ngIf="day.hasEvent">
                <h3 style="color: rgb(72, 78, 248)">
                    {{ day.date | date : "EEEE, dd" }}
                </h3>
            </div>
            <div *ngIf="!day.hasEvent">
                <h3>
                    {{ day.date | date : "EEEE, dd" }}
                </h3>
            </div>
            <div style="display: flex; justify-content: center">
                <!-- <button class="add-event-btn" (click)="addEvent(day)">+</button> -->
                <!-- <button class="add-event-btn" (click)="showModal()">+</button>
                <app-form-modal *ngIf="isModalVisible" (close)="hideModal()"></app-form-modal> -->
            </div>
        </div>
    </div>
</div>
<div style="display: flex; justify-content: center">
    <app-form-modal [users]="users" [books]="books" [selectedDate]="selectedDate" *ngIf="isModalVisible" (close)="hideModal($event)"></app-form-modal>
</div>

<mat-expansion-panel [expanded]="true" *ngIf="selectedDate && this.showEvents">
  <mat-expansion-panel-header>
    <h3 style="padding-left: 10px;padding-top: 10px;">Events for {{ selectedDate | date : "EEEE, MMMM dd, yyyy" }}</h3>
  </mat-expansion-panel-header>
  <!-- Events section -->
<div class="events-container">
    <app-event-list (removeEvent)="onRemoveEvent()" (addEvent)="showModal(selectedDate)" [selectedDate]="selectedDate"></app-event-list>
</div>
</mat-expansion-panel>