<!-- <div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
	<h2>Modal Title</h2>
	<app-entry-form (submitEntry)="handleSubmit($event)"></app-entry-form>
	<button (click)="closeModal()">Close</button>
  </div>
</div> -->
<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
	<button mat-icon-button class="close-button" (click)="closeModal()">
	<mat-icon>close</mat-icon>
	</button>
	<h1 style="margin-bottom:2rem;margin-left:3.5rem;" mat-dialog-title>New Contest Entry</h1>
		<app-entry-form [users]="users" [books]="books" [selectedDate]="selectedDate" (submitEntry)="handleSubmit($event)"></app-entry-form>
  </div>
</div>