<div *ngIf="isLoading" class="loading-container">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<table [hidden]="isLoading" mat-table [dataSource]="readSource" matSort #MatSort1="matSort" (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

        <!-- Parent Header Column -->
    <ng-container matColumnDef="reading">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="4">Reading</th>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="displayId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by displayId">
        No.
        </th>
        <td mat-cell *matCellDef="let element;"> {{element.displayId}} </td>
    </ng-container>

    <!-- Pic Column -->
    <ng-container matColumnDef="pic">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
             <img [src]="element.pic" class="row-image" alt="Entry Image">
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Book Column -->
    <ng-container matColumnDef="book">
        <th mat-header-cell *matHeaderCellDef>
        Book
        </th>
        <td mat-cell class="cell-book" *matCellDef="let element"
            [matMenuTriggerFor]="menu" 
            #menuTrigger="matMenuTrigger" 
            (click)="menuTrigger.openMenu()">
            <mat-menu #menu="matMenu" yPosition="above" 
                class="book-details" [overlapTrigger]="false">
                <div style="position: relative; display: inline-block; z-index: index 1;">
                    <img src="assets/book.png" style="width: 300px; height: 300px;">
                    <div class="overlay">
                        <div class="menu-item">Title: {{element.book.strTitle}}</div>
                        <div class="menu-item">Author: {{element.book.strAuthor}}</div>
                        <div class="menu-item">Current Page: {{element.book.iCurrentPage}}</div>
                        <div class="menu-item">Total Pages: {{element.book.iTotalPages}}</div>
                    </div>
                </div>
            </mat-menu> {{element.book.strTitle}}
        </td>
    </ng-container>

    <!-- Pages Column -->
    <ng-container matColumnDef="pages">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pages">
        Pages Read
        </th>
        <td mat-cell *matCellDef="let element"> {{element.pages}} </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onDelete(element.entryId)" color="primary">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr class="main-header" mat-header-row *matHeaderRowDef="['reading']"></tr>
    <tr mat-header-row *matHeaderRowDef="readColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: readColumns;"></tr>

    <!-- "No data" row -->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No reading entries yet!</td>
    </tr>
    </table>
    <table [hidden]="isLoading" mat-table [dataSource]="walkSource" matSort #MatSort2="matSort" (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

        <!-- Parent Header Column -->
    <ng-container matColumnDef="walking">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="4">Walking</th>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="displayId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by displayId">
        No.
        </th>
        <td mat-cell *matCellDef="let element;"> {{element.displayId}} </td>
    </ng-container>

    <!-- Pic Column -->
    <ng-container matColumnDef="pic">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
             <img [src]="element.pic" class="row-image" alt="Entry Image">
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Walk Column -->
    <ng-container matColumnDef="walk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by walk">
        Walk
        </th>
        <td mat-cell *matCellDef="let element"> {{element.walk}} </td>
    </ng-container>

    <!-- Distance Column -->
    <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by distance">
        Distance (miles)
        </th>
        <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="onDelete(element.entryId)" color="primary">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr class="main-header" mat-header-row *matHeaderRowDef="['walking']"></tr>
    <tr mat-header-row *matHeaderRowDef="walkColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: walkColumns;"></tr>

    <!-- "No data" row -->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No walking entries yet!</td>
    </tr>
</table>
<ng-template #deleteConfirmation>
    <h2 mat-dialog-title>Confirm Deletion</h2>
    <mat-dialog-content>Are you sure you want to delete this entry?</mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button color="primary" mat-dialog-close>Cancel</button>
        <!-- Passing true indicates the user confirmed the action -->
        <button mat-button [mat-dialog-close]="true" color="warn">Delete</button>
    </mat-dialog-actions>
</ng-template>