<mat-toolbar color="primary">
  <span>62 Vern Contest Tracker</span>
  
  <!-- This filler fills the remaining space, pushing the buttons to the right -->
  <span class="example-spacer"></span>
  
  <button mat-button routerLink="/home">Calendar</button>
  <button mat-button routerLink="/about">Statistics</button>
</mat-toolbar>
<div class="calendar-container">
    <div class="header">
        <button (click)="changeMonth(-1)">Previous</button>
        <h2>{{ currentDate | date : "MMMM yyyy" }}</h2>
        <button (click)="changeMonth(1)">Next</button>
    </div>
    <app-month-view [date]="currentDate"></app-month-view>
</div>