/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.main-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust as needed */
}

.content-container {
  /* This creates a 50% opaque white overlay over the image */
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7)), 
              url('/assets/house.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* Ensure it covers the full viewport height */
  margin: 0;
}

.toggle {
    color: white;
    font-size: smaller;
    :hover {
    cursor: pointer;
    }
}

.example-spacer {
     flex: 1 1 auto; 
}